@charset "UTF-8";
:root {
  --background: #F2F2F2;
  --text-color: #202631;
  --additional-text-color: #1E92FE;
  --title-color: #00193F;
  --list-color: #FFFFFF;
  --accent-color: #3593FE;
  --additional-color: #6A6A75;
  --animation: 250ms ease-in;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  position: relative;
  background: var(--background);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
.header {
  background-color: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
}

.header__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__left {
  display: flex;
  flex-direction: row;
}

.header__logo {
  margin: 19px 23px 20px 38px;
}

.header__form {
  margin: 25px 0;
  position: relative;
}

.header__input {
  padding: 8px 15px;
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  border-radius: 25px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color);
}

.header__form-svg {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 16x;
  height: 16px;
}

.header__nav {
  padding: 34px 0 37px 0;
  align-items: center;
}

.header__button--work {
  border: none;
  background: none;
}

.work {
  position: relative;
  width: 100%;
  padding-top: 0.78125vw;
  padding-bottom: 0.78125vw;
  padding-left: 1.604vw;
  border-bottom: 0.104vw solid #E8ECF4;
  box-sizing: border-box;
}

.work__link {
  font-size: 0.833vw;
  line-height: 1.146vw;
  align-items: center;
}

.work__svg {
  margin-right: 0.521vw;
}

.work__menu {
  width: 7px;
  height: 13px;
  fill: var(--text-color);
}

.header__nav-list {
  display: flex;
  flex-direction: row;
}

.header__nav-item {
  justify-content: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 36px;
}

.header__nav-svg {
  margin-right: 10px;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 45px;
}

.header__right-svg {
  margin-right: 25px;
}

.header__right-foto {
  margin: 0 8px 0 0;
  border-radius: 50%;
}

.profile {
  padding: 1.09375vw 1.146vw 0.833vw;
  border-bottom: 0.104vw solid #E8ECF4;
}

.profile__name {
  font-size: 1.042vw;
  line-height: 1.40625vw;
  font-weight: bold;
  padding-right: 1.146vw;
}

.profile__title {
  font-size: 0.833vw;
  line-height: 1.146vw;
  text-transform: uppercase;
  color: var(--additional-text-color);
}

.prrofile__list {
  padding-left: 0;
}

.profile__item {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.9375vw;
  line-height: 1.458vw;
  color: var(--text-color);
}

.container {
  width: 1920px;
  padding: 0 15px 0 15px;
}

.hero {
  padding-top: 46px;
}

.hero__container {
  position: relative;
}

.hero__img {
  margin: 0 auto;
  background: var(--accent-color);
  border-radius: 5px;
}

.hero__foto {
  position: absolute;
  left: 261px;
  bottom: -84px;
  background: var(--list-color);
  width: 173px;
  height: 173px;
  border-radius: 50%;
}

.hero__foto-img {
  position: absolute;
  left: 9px;
  bottom: 9px;
  border-radius: 50%;
}

.welcome {
  padding: 0 0 31px 260px;
  position: relative;
  padding-top: 90px;
  text-align: center;
}

.welcome__button--first {
  margin-left: 300px;
  margin-right: 31px;
  margin-bottom: 10px;
  width: 367px;
  height: 61px;
  background: var(--additional-text-color);
  border-color: var(--additional-text-color);
  border-radius: 7px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  color: var(--list-color);
  float: left;
}

.add__info {
  border-bottom: 0.104vw solid #E8ECF4;
}

.menu-active .add {
  position: absolute;
  top: 74px;
  left: 493px;
  background: var(--list-color);
}

.add__title {
  position: relative;
  font-size: 0.833vw;
  line-height: 1.146vw;
  color: var(--additional-text-color);
  text-transform: uppercase;
  text-align: left;
  padding: 0.833vw 0.677vw;
  cursor: pointer;
  transition: all 0.3s linear;
  border: none;
  background: none;
}

.add__info .add__list {
  padding-left: 0.677vw;
  padding-right: 0.677vw;
  padding-bottom: 0.833vw;
}

.add__item {
  font-size: 0.9375vw;
  line-height: 1.302vw;
  color: #00193F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.add__svg {
  width: 17.08px;
  height: 17.08px;
}

.more__item {
  text-align: left;
  padding: 10px;
}

.menu-active .more {
  position: absolute;
  width: 100%;
  top: 73px;
  left: 664px;
  background: var(--list-color);
}

.welcome__button--second {
  margin-right: 21px;
  width: 139px;
  height: 61px;
  border: 1px solid var(--additional-text-color);
  box-sizing: border-box;
  border-radius: 7px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  color: var(--additional-text-color);
  float: left;
}

.welcome__button--svg {
  position: absolute;
  top: 106px;
  right: 1px;
}

.welcome__title {
  display: block;
  width: 46%;
  margin-bottom: 5px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-color);
  text-align: left;
}

.welcome__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 883px;
  padding-bottom: 50px;
}

.welcome__list {
  display: flex;
  flex-direction: row;
  margin-left: 260px;
}

.welcome__item--first {
  padding: 0 18px 0 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.6;
  color: var(--additional-text-color);
  border-right: 1px solid #6A6A75;
}

.welcome__item {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 42px;
  color: var(--additional-color);
}

.welcome__item:not(:last-child) {
  padding: 0 18px 0 0;
  border-right: 1px solid #6A6A75;
}

.welcome__item:not(:first-child) {
  margin-left: 22px;
}

.welcome__link {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 2.1;
  text-align: right;
  color: var(--additional-text-color);
}

.welcome__card {
  display: flex;
  flex-direction: row;
}

.welcome__card-item {
  width: 426px;
  height: 151px;
  border: 1px solid var(--additional-text-color);
  box-sizing: border-box;
  border-radius: 7px;
}

.welcome__card-item:not(:last-child) {
  margin-right: 30px;
}

.welcome__card-title {
  padding-left: 18px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.9;
  text-align: left;
  color: var(--additional-text-color);
}

.welcome__card-text {
  padding-left: 18px;
  padding-bottom: 20px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  color: var(--text-color);
}

.welcome__card-action {
  display: block;
  padding-left: 18px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  color: var(--additional-text-color);
}

.analytics {
  padding: 0 0 31px 260px;
}

.analytics__card {
  margin-bottom: 41px;
  width: 883px;
  height: 322px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.analytics__card--line {
  width: 883px;
  height: 8px;
  background: var(--additional-text-color);
}

.analytics__title {
  padding: 25px 0 46px 25px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.6;
  color: var(--text-color);
}

.analytics__nav {
  position: absolute;
}

.analytics__link {
  padding: 0 0 9px 55px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  color: var(--additional-text-color);
}

.analytics__text {
  padding: 0 0 26px 55px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
}

.row {
  position: relative;
  padding: 0 30px 36px 30px;
}

.analystics__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.analystics__item {
  width: 90px;
  height: 14px;
  background: #D3D3D3;
}

.path {
  position: absolute;
  top: 11px;
  left: 7px;
}

.owal-first {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -8px;
  left: 20px;
  background: #1E92FE;
  border-radius: 50%;
}

.owal-second {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -8px;
  left: 522px;
  background: #D3D3D3;
  border-radius: 50%;
}

.owal-third {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -8px;
  left: 826px;
  background: #D3D3D3;
  border-radius: 50%;
}

.analytics__button--first {
  padding-left: 534px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 42px;
  text-align: right;
  color: var(--text-color);
  border: none;
  background: none;
  cursor: pointer;
}

.analytics__button--second {
  padding: 2px 27px;
  height: 42px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.9;
  text-align: center;
  color: var(--list-color);
  background: var(--additional-text-color);
  border-radius: 7px;
  border-color: var(--additional-text-color);
}

.analytics__dashboard-title {
  margin-bottom: 5px;
  padding-left: 20px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.6;
  color: var(--text-color);
}

.analytics__dashboard-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 883px;
  height: 201px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 5px;
}

.analytics__dashboard-item:not(:last-child) {
  padding-right: 49px;
  border-right: 2px solid #E8ECF4;
}

.analytics__dashboard-text {
  padding: 24px 56px 0 58px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 90px;
  line-height: 1.4;
  text-align: center;
  color: #C8C8C8;
}

.analytics__dashboard-link {
  padding: 0 46px 24px 43px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  color: #3593FE;
}

.about {
  padding: 0 0 31px 260px;
}

.about__container {
  position: relative;
  width: 883px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.about__title {
  padding: 17.5px 0 13.5px 29px;
  display: block;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.8;
  color: var(--text-color);
  border-bottom: 2px solid #E8ECF4;
}

.about__svg {
  position: absolute;
  z-index: 3;
  top: 29px;
  right: 28px;
  float: right;
}

.about__text {
  padding: 21.75px 28px 28px 29px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
}

.about__form {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

.about__label {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}

.about__info {
  background: #E8F2FF;
  border-radius: 7px;
  border-color: #E8F2FF;
  padding: 8px 13.5px 15px 13.5px;
  margin: 5px 0 20px 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #000000;
}

.experience {
  padding: 0 0 31px 260px;
}

.experience__container {
  position: relative;
  width: 883px;
  height: 317px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.experience__title {
  padding: 17.5px 0 13.5px 29px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: var(--text-color);
  border: 2px solid #E8ECF4;
}

.experience__svg {
  position: absolute;
  top: 29px;
  right: 28px;
  float: right;
}

.experience__item {
  padding: 21.79px 0 26px 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience__item:not(:last-child) {
  border: 2px solid #E8ECF4;
}

.experience__bgd {
  overflow: hidden;
  background: #CFCFCF;
  border-radius: 50%;
}

.experience__logo {
  padding: 8px 0 0 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.4;
  text-align: center;
  color: var(--list-color);
}

.experience__info--first {
  margin-right: 380px;
  margin-top: 14px;
}

.experience__info--second {
  margin-right: 305px;
  margin-top: 14px;
}

.experience__company {
  margin-bottom: 1px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
}

.experience__position {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
}

.experience__period {
  padding: 25.98px 29px;
}

.talent {
  padding: 0 0 31px 260px;
}

.talent__container {
  position: relative;
  width: 883px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.talent__svg {
  position: absolute;
  top: 29px;
  right: 29px;
  float: right;
}

.talent__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 1.198vw;
  padding-right: 1.198vw;
  padding-bottom: 0;
}

.talent__item {
  background: #E8F2FF;
  border-radius: 0.36vw;
  padding: 0.78125vw 1.042vw 0.677vw;
  margin: 23px 23px 0 23px;
}

.talent__item:last-child {
  margin-bottom: 23px;
}

.talent__item--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.talent__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #202631;
}

.talent__img {
  margin: 13px 13px;
}

.talent__middle {
  margin: auto;
  padding-top: 16px;
  padding-bottom: 7px;
}

.photo {
  padding: 0 0 31px 260px;
}

.photo__container {
  position: relative;
  width: 883px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.photo__block {
  padding: 25px  0 25px 53px;
}

.photo__img {
  display: inline;
  margin: 0 23px 23px 0;
  object-fit: cover;
}

.photo__indicator .slider__indicators {
  position: absolute;
  right: 30px;
  bottom: 20px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.photo__indicator .slider__indicators li {
  padding-top: 0;
  width: 26px;
  height: 9px;
  background: #00193F;
  border-radius: 5.5px;
}

.photo__indicator .slider__indicators .active {
  padding: 0;
  width: 74px;
  height: 9px;
  border-radius: 5.5px;
}

.recommend {
  padding: 0 0 31px 260px;
}

.recommend__container {
  position: relative;
  width: 883px;
  height: 506px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.recommend__svg {
  position: absolute;
  top: 29px;
  right: 29px;
  float: right;
}

.recommend__item {
  padding-left: 29px;
  margin-top: 30.75px;
  display: flex;
  flex-direction: row;
}

.recommend__item:not(:last-child) {
  padding-bottom: 31.25px;
  border-bottom: 2px solid #E8ECF4;
}

.recommend__img {
  width: 100%;
}

.recommend__info {
  padding-top: 8px;
  padding-left: 24px;
}

.recommend__title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  color: var(--additional-text-color);
}

.recommend__link {
  margin-bottom: 16px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
}

.recommend__text {
  padding-right: 54px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
}

.skills {
  padding: 0 0 31px 260px;
}

.skills__container {
  position: relative;
  width: 883px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.skills__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills__item {
  margin: 32px 0 15px 22px;
}

.skills__item:nth-child(4) {
  margin-bottom: 32px;
}

.skills__group .menu-active {
  position: relative;
  width: 100%;
}

.menu-active .skills__item:last-child {
  margin-top: 20px;
  margin-bottom: 32px;
}

.skills-link {
  padding: 16px 18px 14px 20px;
  width: 195px;
  height: 55px;
  background: #E8F2FF;
  border-radius: 7px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: var(--text-color);
}

.contacts {
  padding: 0 0 31px 260px;
}

.contacts__container {
  position: relative;
  width: 883px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.contacts__title {
  padding: 17.5px 0 13.5px 29px;
  margin-bottom: 21.75px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: var(--text-color);
  border: 2px solid #E8ECF4;
}

.contacts__svg {
  position: absolute;
  z-index: 2;
  top: 29px;
  right: 28px;
  float: right;
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px 15px;
}

.contacts__item {
  margin-left: 29px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts__img {
  width: 74px;
  height: 74px;
  object-fit: cover;
}

.contacts__text {
  align-items: center;
  margin-left: 18px;
}

.contacts__info {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.contacts__quantity {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--additional-text-color);
}

.interests {
  padding: 0 0 31px 260px;
}

.interests__container {
  position: relative;
  width: 883px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.interests__svg {
  position: absolute;
  top: 29px;
  right: 29px;
  float: right;
}

.featured__container--two {
  width: 883px;
  height: 146px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.featured {
  padding: 0 0 31px 260px;
}

.featured__text {
  padding: 21.75px 28px 23px 29px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
}

.education {
  padding: 0 0 101px 260px;
}

.education__container {
  width: 883px;
  height: 74px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.contacts__list .menu-active {
  position: relative;
  width: 100%;
}

.showmore__button {
  background-color: transparent;
  border: none;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: var(--buttons-bg);
  transition: var(--transition-duration) var(--transition-function) color;
}

.showmore__button:hover, .showmore__button:focus {
  color: var(--menu-focus);
}

.show-more {
  border-top: 2px solid #E8ECF4;
  text-align: center;
}

.show-more__text {
  padding: 12px 0 12px 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  cursor: pointer;
  color: var(--text-color);
}

.slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.slider__wrapper {
  /*overflow: hidden;*/
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
}

/* кнопки влево и вправо */
/* индикаторы */
.slider__indicators {
  position: absolute;
  right: 30px;
  bottom: -26px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 20px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--additional-color);
  background-clip: padding-box;
}

.slider__indicators li.active {
  background-color: var(--additional-text-color);
}

.dropdown-menu {
  display: none;
}

.menu-active {
  width: 11%;
  position: absolute;
  z-index: 1;
  display: block;
  background: var(--list-color);
}

.sidebar {
  padding-top: 90px;
  margin-left: 28px;
}

.services {
  padding-bottom: 31px;
}

.services__container {
  position: relative;
  width: 574px;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 7px;
}

.services__top {
  padding: 17.5px 27px;
  background: #1E92FE;
  border-radius: 5px 5px 0px 0px;
}

.services__title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.services__svg {
  position: absolute;
  top: 27px;
  right: 28px;
}

.services__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__item {
  margin: 30px 0 15px 22px;
}

.services__item:last-child {
  margin-bottom: 23px;
}

.services-link {
  padding: 16px 18px 14px 17px;
  width: 195px;
  height: 55px;
  background: #E8F2FF;
  border-radius: 7px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: var(--text-color);
}

.people {
  margin-bottom: 28px;
  width: 574px;
  background: var(--list-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
  border-radius: 5px;
}

.people__head {
  padding: 17.5px 0 13.5px 28px;
  border: 2px solid #E8ECF4;
}

.people__title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #00193F;
}

.people__list {
  padding-top: 1.146vw;
  padding-bottom: 1.458vw;
}

.people__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  padding-left: 1.51vw;
  padding-right: 1.458vw;
}

.people__item:not(:last-child) {
  border-bottom: 0.104vw solid #E8ECF4;
}

.people__img {
  border-radius: 50%;
  margin-right: 12px;
}

.people__info {
  margin-right: 224px;
}

.people__name {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #1E92FE;
}

.people__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #202631;
}

.banner {
  border-radius: 5px;
  padding: 12.24vw 1.042vw 0.9375vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0574588) 31.28%, #000000 100%), url(../images/Banner.jpg) no-repeat center center;
}

.banner__info {
  padding-bottom: 18px;
}

.banner__title {
  margin-bottom: 62px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 29px;
  line-height: 40px;
  color: #FFFFFF;
}

.banner__text {
  margin-bottom: 52px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 1.1;
  color: #FFFFFF;
}

.banner__link {
  padding: 23px 62px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: row;
  flex-basis: content;
}

.footer {
  background: #00193F;
  padding: 33px 0 32px 0;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 188px 40px 172px;
}

.footer__item {
  text-align: left;
}

.footer__title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 42px;
  color: var(--list-color);
}

.footer__link {
  display: block;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  color: var(--list-color);
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 172px;
}

.footer__bottom-text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--list-color);
}

.footer__bottom-text--middle {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--list-color);
  margin-right: 439px;
}

.footer__bottom-text--middle:not(:last-child) {
  margin-bottom: 8px;
}

.footer__bottom-text:not(:last-child) {
  border-right: 0.052vw solid #ffffff;
  margin-bottom: 8px;
  padding-right: 0.573vw;
  margin-right: 0.573vw;
}

.footer__bottom-text:first-child {
  border-right: none;
}

.footer__item--svg {
  margin-right: 32px;
}

.footer__svg {
  fill: #ffffff;
}

.footer__svg {
  padding-right: 5px;
}

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: .3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 1.88vw;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 0.78vw;
  height: 0.78vw;
  fill: #444;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 0.57vw;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 1.46vw;
  line-height: 1.77vw;
  color: #000000;
}

.modal__cross--first {
  background: #1E92FE;
  border-radius: 0.36vw;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 0.94vw;
  line-height: 2.19vw;
  text-align: center;
  color: #FFFFFF;
  padding: 0 1.41vw;
  margin-right: 1.15vw;
  border: var(--additional-text-color);
  cursor: pointer;
}

.modal__cross--second {
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 0.36vw;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.94vw;
  line-height: 2.19vw;
  text-align: center;
  color: #6A6A75;
  background: var(--list-color);
  padding: 0 1.09vw;
  cursor: pointer;
}

.edit__hero {
  position: relative;
  margin-bottom: 4.74vw;
}

.edit__bgd {
  background: linear-gradient(270deg, rgba(0, 0, 0, 6e-05) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 0.26vw;
}

.edit__change {
  position: absolute;
  bottom: 0.26vw;
  right: 0.83vw;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 0.83vw;
  line-height: 1.77vw;
  color: #FFFFFF;
}

.edit__photo {
  position: absolute;
  left: 3.95vw;
  top: 6.9vw;
  width: 6.25vw;
  height: 6.25vw;
  border-radius: 50%;
  background: var(--list-color);
}

.edit__img {
  position: absolute;
  top: 0.31vw;
  left: 0.31vw;
  width: 5.63vw;
  height: 5.63vw;
  border-radius: 50%;
}

.edit__form {
  margin-bottom: 1.51vw;
}

.edit__label {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 1.04vw;
  line-height: 1.77vw;
  color: #000000;
  padding-bottom: 0.26vw;
}

.edit__label:not(:last-child) {
  padding-bottom: 0.73vw;
}

.edit__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 0.89vw;
  line-height: 1.77vw;
  color: #000000;
  padding: 0.26vw 0 0.36vw 0.73vw;
  background: #E8F2FF;
  border-radius: 0.36vw;
  border-color: #E8F2FF;
}

.active.contact {
  width: 53.333vw;
}

.contact__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact__item:not(:last-child) {
  padding-right: 10.99vw;
  padding-bottom: 1.56vw;
}

.contact__item:last-child {
  padding-bottom: 0.99vw;
}

.contact__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 1.04vw;
  line-height: 1.77vw;
  color: #000000;
}

.contact__link {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 1.77vw;
  color: #1E92FE;
}

.change {
  display: flex;
  flex-direction: column;
  width: 53.33vw;
}

.change__title {
  padding-left: 0.52vw;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 1.04vw;
  line-height: 1.77vw;
  color: #000000;
}

.change__input {
  margin-top: 0.26vw;
  background: #E8F2FF;
  border-radius: 0.36vw;
  padding: 0.31vw 2.59vw 0.31vw 0.83vw;
  border-color: #E8F2FF;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 1.77vw;
  color: #1E92FE;
}

.change__input:not(:last-child) {
  margin-bottom: 0.99vw;
}

.change__input:last-child {
  margin-bottom: 1.51vw;
}
/*# sourceMappingURL=main.css.map */