:root {
    --background: #F2F2F2;
    --text-color: #202631;
    --additional-text-color: #1E92FE;
    --title-color: #00193F;
    --list-color: #FFFFFF;
    --accent-color: #3593FE;
    //--peculiarity-color: ;
    --additional-color: #6A6A75;
    //--user-color: ;
    --animation: 250ms ease-in;
    --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
  }