.active.contact {
    width: 53.333vw;
}
.contact__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact__item:not(:last-child){
    padding-right: 10.99vw;
    padding-bottom: 1.56vw;
}
.contact__item:last-child{
    padding-bottom: 0.99vw;
}
.contact__text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.04vw;
    line-height: 1.77vw;

    color: #000000;
}
.contact__link{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size:1.04vw;
    line-height: 1.77vw;

    color: #1E92FE;
}
.change{
    display: flex;
    flex-direction: column;
    width: 53.33vw;
}
.change__title{
    padding-left: 0.52vw;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.04vw;
    line-height: 1.77vw;

    color: #000000;
}
.change__input{
    margin-top: 0.26vw;
    
    background: #E8F2FF;
    border-radius: 0.36vw;
    padding: 0.31vw 2.59vw 0.31vw 0.83vw;
    border-color: #E8F2FF;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.04vw;
    line-height: 1.77vw;

    color: #1E92FE;
}
.change__input:not(:last-child){
    margin-bottom: 0.99vw;
}
.change__input:last-child{
    margin-bottom: 1.51vw;
}