<section class="analytics ">
    <div class=" ">
        <div class="analytics__card "> 
            <div class="analytics__card--line"></div>
                <h2 class="analytics__title">Strengthen your profile</h2>
                    <svg class="analytics__nav" width="12" height="22">
                        <use href="./images/sprite.svg#Shape2"></use>
                    </svg>
                    <svg class="analytics__nav" width="12" height="22">
                        <use href="./images/sprite.svg#Shape1"></use>
                    </svg>
                <div class="row">
                    <div class="owal-first">
                            <svg class="path" width="18" height="11">
                                <use href="./images/sprite.svg#Path"></use>
                            </svg>
                    </div>
                        <div class="owal-second"></div>
                        <div class="owal-third"></div>
                        <ul class="analystics__list">
                            <li class="analystics__item"></li>
                            <li class="analystics__item"></li>
                            <li class="analystics__item"></li>
                            <li class="analystics__item"></li>
                            <li class="analystics__item"></li>
                            <li class="analystics__item"></li>
                            <li class="analystics__item"></li>
                            <li class="analystics__item"></li>
                        </ul>
                </div>

                <div class="slider first-slider">
                    <div class="slider__container">
                        <div class="slider__wrapper">
                            <div class="slider__items">
                                <div class="slider__item">
                                    <a class="analytics__link">Add an about summary</a>
                                    <p class="analytics__text">Summary is the #1 thing music professionals look at while viewing profiles</p>
               
                                    <button class="analytics__button--first" type="button">Not Now</button>
                                    <button class="analytics__button--second" type="button">Add summary</button>
                                </div>
                
                                <div class="slider__item">
                                    <a class="analytics__link">Add an about summary</a>
                                    <p class="analytics__text">Summary is the #1 thing music professionals look at while viewing profiles</p>
           
                                    <button class="analytics__button--first" type="button">Not Now</button>
                                    <button class="analytics__button--second" type="button">Add summary</button>
                                </div>

                                <div class="slider__item">
                                    <a class="analytics__link">Add an about summary</a>
                                    <p class="analytics__text">Summary is the #1 thing music professionals look at while viewing profiles</p>
           
                                    <button class="analytics__button--first" type="button">Not Now</button>
                                    <button class="analytics__button--second" type="button">Add summary</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="slider__indicators">
                        <li data-slide-to="0"></li>
                        <li data-slide-to="1"></li>
                        <li data-slide-to="2"></li>
                    </ol> 
                </div>  
                         
                
        </div>
            <div class="analytics__dashboard">
                <h2 class="analytics__dashboard-title">Your Dashboard</h2>
                <ul class="analytics__dashboard-list">
                    <li class="analytics__dashboard-item">
                        <p class="analytics__dashboard-text">12</p>
                        <a class="analytics__dashboard-link" href="">Who’s viewed your profile</a>
                    </li>
                    <li class="analytics__dashboard-item">
                        <p class="analytics__dashboard-text">134</p>
                        <a class="analytics__dashboard-link" href="">Views of your shares</a>
                    </li>
                </ul>

            </div>
    </div>
</section>