<section class="contacts">
    <div class="contacts__container">
        <h2 class="contacts__title">My Curated Contacts</h2>
        <svg class="contacts__svg" width="20" height="20">
            <use href="./images/sprite.svg#pen"></use>
        </svg>
        <ul class="contacts__list">
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/3.jpg" alt="">
                    </a> 
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Publicist & PR Consultants</a>
                    <p class="contacts__quantity">6 contacts</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/3.jpg" alt="">
                    </a>
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Publicist & PR Consultants</a>
                    <p class="contacts__quantity">6 contacts</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/3.jpg" alt="">
                    </a>
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Publicist & PR Consultants</a>
                    <p class="contacts__quantity">6 contacts</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/3.jpg" alt="">
                    </a>
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Publicist & PR Consultants</a>
                    <p class="contacts__quantity">6 contacts</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/3.jpg" alt="">
                    </a>
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Publicist & PR Consultants</a>
                    <p class="contacts__quantity">6 contacts</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/3.jpg" alt="">
                    </a> 
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Publicist & PR Consultants</a>
                    <p class="contacts__quantity">6 contacts</p>
                </div>
            </li>  
            
            <div data-target="five" class="dropdown-menu">
                <li class="contacts__item">
                    <div class="experience__bgd">
                        <a href="">
                            <img class="contacts__img" src="./images/3.jpg" alt="">
                        </a>
                    </div>
                    <div class="contacts__text">
                        <a href="" class="contacts__info">Publicist & PR Consultants</a>
                        <p class="contacts__quantity">6 contacts</p>
                    </div>
                </li> 
            </div>
        </ul>

        <div class="show-more">
            <button data-path="five" type="button" class="btn dropdown-toggle show-more__text showmore__button">show more</button>
        </div>

    </div>
</section>

