<section class="experience">
    <div class="experience__container">
        <h2 class="experience__title">Experience</h2>
        <svg class="experience__svg js-open-modal" data-modal="8" width="20" height="20">
            <use href="./images/sprite.svg#pen"></use>
        </svg>
        <ul class="experience__list">
            <li class="experience__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/2.jpg" alt="" width="74" height="74">
                    </a>
                </div>
                <div class="experience__info--first">
                    <a href="" class="experience__company">J+ Music Company</a>
                    <p class="experience__position">Artist Manager</p>
                </div>
                <p class="experience__period">March 2019 - present</p>

            </li>
            <li class="experience__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/1.jpg" alt="" width="74" height="74">
                    </a>
                </div>
                <div class="experience__info--second">
                    <a href="" class="experience__company">I+ Music Company</a>
                    <p class="experience__position">Position Name Here</p>
                </div> 
                <p class="experience__period">December 2016 - March 2019</p>
            </li>
        </ul>
    </div>
</section>