<section class="recommend">
    <div class="recommend__container">
        <h2 class="experience__title">Featured</h2>
        <svg class="recommend__svg" width="20" height="20">
            <use href="./images/sprite.svg#pen"></use>
        </svg>

        <ul class="recommend__list">
            <li class="recommend__item">
                    <img class="recommend__img--f"  src="./images/feature.png" alt="feature-img" width="238" height="151">
                <div class="recommend__info">
                    <a class="recommend__title" href="">The LinkedIn of the Music World. <br> Connecting all the world’s music professionals. Join now for free.</a>
                    <p class="recommend__link"><a  href="">musiclinkup.com</a></p> 
                    <p class="recommend__text">Connecting all the world's music professionals and creating economic opportunity for every member. The future of music networking.</p>
                </div>
                
            </li>
           
            <li class="recommend__item">
                <img class="recommend__" src="./images/feature.png" alt="feature-img" width="238" height="151">
                <div class="recommend__info">
                    <a class="recommend__title" href="">The LinkedIn of the Music World. <br> Connecting all the world’s music professionals. Join now for free.</a>
                    <p class="recommend__link"><a  href="">musiclinkup.com</a></p> 
                    <p class="recommend__text">Connecting all the world's music professionals and creating economic opportunity for every member. The future of music networking.</p>
                </div>
                
            </li>
        </ul>

    </div>
</section>