<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__item">
                <a href=""> <img src="./images/footer-logo.png" alt="footer-logo" width="289" height="58.77"></a>
            </div>
            <div class="footer__item">
                <h3 class="footer__title">Information</h3>
                <a class="footer__link" href="">Jobs</a>
                
            </div>
            <div class="footer__item">
                <h3 class="footer__title">Resources</h3>
                <a class="footer__link" href="">Career Glosary</a>
                <a class="footer__link" href="">FAQ</a>
            </div>
            <div class="footer__item">
                <h3 class="footer__title">Get in touch</h3>
                <a class="footer__link" href="">Contact Us</a>
                <a class="footer__link" href="">Feedback</a>
                
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__item">
                <p class="footer__bottom-text">2021 MusicLinkUp. All Rights Reserved.</p>
                <a class="footer__bottom-text" href=""> About</a>   
                <a class="footer__bottom-text" href="">Terms of use</a>
                <a class="footer__bottom-text" href="">Privacy Policy</a>
                <a class="footer__bottom-text" href="">Advertising</a>     
            </div>
            <div class="footer__item">
                <p class="footer__bottom-text--middle">MusicLinkUp.com is a subsidiary of</p>
                <p class="footer__bottom-text--middle">The JCM Holdings Group Inc.</p>
            </div>
            <div class="footer__item footer__item--svg">
                <a href="">
                    <svg class="footer__svg" width="41" height="41">
                        <use href="./images/symbol-defs.svg#icon-fb"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="footer__svg" width="41" height="41">
                        <use href="./images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="footer__svg" width="41" height="41">
                        <use href="./images/symbol-defs.svg#icon-link"></use>
                    </svg>
                </a>

            </div>
        </div>
        
    </div>
</footer>