<header class="header">
    <div class="container header__block">
        <div class="header__left">
            <a href="">
                <img src="./images/logo.png" alt="logo" width="57" height="57" class="header__logo" >
            </a>
            
            <form action="" class="header__form">
                <input type="text" class="header__input" placeholder="Search"> 
                <svg width="19.59" height="19.59" class="header__form-svg">
                    <use href="./images/sprite.svg#icon-search_left" ></use></svg>
                <label for="" ></label>
            </form>
        </div>
                
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="" >
                    <svg width="26" height="25" class="header__nav-svg">
                        <use href="./images/sprite.svg#home"></use>
                    </svg>  Home </a></li>
                <li class="header__nav-item"><a href="" class="header__nav--link">
                    <svg width="26" height="25" class="header__nav-svg">
                        <use href="./images/sprite.svg#network"></use>
                    </svg> Network</a></li>

                <li class="header__nav-item ">
                    <div class="dropdown">
                        <button data-path="one" type="button" class="btn dropdown-toggle header__button--work">
                            <svg width="26" height="25" class="header__nav-svg">
                                <use href="./images/sprite.svg#work"></use>
                            </svg> Work
                            <svg width="7" height="13" >
                                <use class="work__menu" href="./images/sprite.svg#menu"></use>
                            </svg>
                        </button>
                        <ul data-target="one" class="dropdown-menu">
                            <li class="work"><a class="work__link" href="">
                                <svg class="work__svg" width="26" height="25">
                                    <use href="./images/sprite.svg#team"></use>
                                </svg>
                                Projects</a></li>
                            <li class="work"><a class="work__link" href="">
                                <svg class="work__svg" width="26" height="25">
                                    <use href="./images/sprite.svg#team"></use>
                                </svg>
                                Jobs</a></li>
                            <li class="work"><a class="work__link" href="">
                                <svg class="work__svg" width="26" height="25">
                                    <use href="./images/sprite.svg#team"></use>
                                </svg>
                                Contacts</a></li>
                            <li class="work"><a class="work__link" href="">
                                <svg class="work__svg" width="26" height="25">
                                    <use href="./images/sprite.svg#team"></use>
                                </svg>
                                Writing Sessions</a></li>
                        </ul>
                    </div>
                    
                </li>

                <li class="header__nav-item"><a href="" class="">
                    <svg width="26" height="25" class="header__nav-svg">
                        <use href="./images/sprite.svg#icon-marketplase"></use>
                    </svg> Marketplace</a></li>
                <li class="header__nav-item">
                    <a href="" class="">
                        <svg width="26" height="25" class="header__nav-svg">
                            <use href="./images/sprite.svg#team"></use>
                        </svg> TeamBuilder PRO
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header__right">
            <a href=""> 
                <svg width="26" height="25" class="header__right-svg">
                    <use href="./images/sprite.svg#icon-Shape"></use>
                </svg> 
            </a>
            <a href="">
                <svg width="26" height="25" class="header__right-svg">
                    <use href="./images/sprite.svg#icon-Group-7"></use>
                </svg>
            </a>
            
            <img src="./images/Bitmap.png" alt="foto profile" width="51" height="51" class="header__right-foto">
            <div class="dropdown">
                <button data-path="two" class="btn btn-secondary dropdown-toggle header__button--work" href="" class="header__right-text">Alison Doe</button>
                <ul data-target="two" class="dropdown-menu">
                    <li class="profile">
                        <p class="profile__name">Alison Doe</p>
                        <a class="profile__title" href="">view profile</a>
                    </li>
                    <li class="profile">
                        <p class="profile__title">account</p>
                        <ul class="prrofile__list">
                            <li class="profile__item"> <a href="">Settings & Privacy</a> </li>
                            <li class="profile__item"> <a href="">Manage Account</a> </li>
                            <li class="profile__item"> <a href="">Job Postings</a> </li>
                        </ul>
                    </li>
                    <li class="profile">
                        <p class="profile__title">manage</p>
                        <ul class="prrofile__list">
                            <li class="profile__item"> <a href="">Create a Company Page</a> </li>
                            <li class="profile__item"> <a href="">Company: Alice Info</a> </li>
                        </ul>
                    </li>
                    <li class="profile">
                        <ul class="prrofile__list">
                            <li class="profile__item"> <a href="">Help Center</a> </li>
                            <li class="profile__item"> <a href="">Sign Out</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>

    </div>
    
</header>
