<section class="interests">
    <div class="interests__container">
        <h2 class="contacts__title">Interests</h2>
        <svg class="interests__svg" width="20" height="20">
            <use href="./images/sprite.svg#pen"></use>
        </svg>
        <ul class="contacts__list">
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/4.jpg" alt="" width="74" height="74">
                    </a> 
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Starlight PR</a>
                    <p class="contacts__quantity">38,623 followers</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/4.jpg" alt="" width="74" height="74">
                    </a>
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Starlight PR</a>
                    <p class="contacts__quantity">38,623 followers</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/4.jpg" alt="" width="74" height="74">
                    </a>
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Starlight PR</a>
                    <p class="contacts__quantity">38,623 followers</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/4.jpg" alt="" width="74" height="74">
                    </a>
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Starlight PR</a>
                    <p class="contacts__quantity">38,623 followers</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/4.jpg" alt="" width="74" height="74">
                    </a>
                </div>
                <div class="contacts__text">
                    <h4 class="contacts__info">Starlight PR</h4>
                    <p class="contacts__quantity">38,623 followers</p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="experience__bgd">
                    <a href="">
                        <img class="contacts__img" src="./images/4.jpg" alt="" width="74" height="74">
                    </a> 
                </div>
                <div class="contacts__text">
                    <a href="" class="contacts__info">Starlight PR</a>
                    <p class="contacts__quantity">38,623 followers</p>
                </div>
            </li> 
            <div data-target="six" class="dropdown-menu">
                <li class="contacts__item">
                    <div class="experience__bgd">
                        <a href="">
                            <img class="contacts__img" src="./images/4.jpg" alt="" width="74" height="74">
                        </a> 
                    </div>
                    <div class="contacts__text">
                        <a href="" class="contacts__info">Starlight PR</a>
                        <p class="contacts__quantity">38,623 followers</p>
                    </div>
                </li> 
            </div> 
            
        </ul>

        <div class="show-more">
            <button data-path="six" type="button" class="btn dropdown-toggle show-more__text showmore__button">show more</button>
        </div>

    </div>
</section>