<div class="modal" data-modal="4">
    <p class="modal__title">Edit About Section</p>
    <div class="about__form">
        <label class="about__label" for="">About</label>
        <textarea class="about__info" name="" id="" cols="115" rows="14" placeholder="tell us about..."></textarea>
    </div>
    
    <button class="modal__cross--first js-modal-close" type="submit">Save</button>
    <button class="modal__cross--second js-modal-close" type="button">Cancel</button>
</div>
<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>