<section class="photo">
    <div class="photo__container">
        <h2 class="experience__title">Promotional Photos</h2>
        <svg class="experience__svg js-open-modal" data-modal="6" width="20" height="20">
            <use href="./images/sprite.svg#pen"></use>
        </svg>
        <div class="slider">
            <div class="slider__container">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        <div class="slider__item photo__block">
                            <img class="photo__img" src="./images/1.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/2.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/5.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/3.jpg" alt="photo" width="238" height="151">
                        </div>
                        <div class="slider__item photo__block">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/2.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/5.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/3.jpg" alt="photo" width="238" height="151">
                        </div>
                        <div class="slider__item photo__block">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/2.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/5.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/4.jpg" alt="photo" width="238" height="151">
                            <img class="photo__img" src="./images/3.jpg" alt="photo" width="238" height="151">
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo__indicator">
                <ol class="slider__indicators">
                    <li data-slide-to="0"></li>
                    <li data-slide-to="1"></li>
                    <li data-slide-to="2"></li>
                </ol> 
            </div>
            
        </div>
    </div>
</section>