<aside class="">
    <section class="services">
        <div class="services__container">
            <div class="services__top">
                <h2 class="services__title">Services provided</h2>
                <svg class="services__svg" width="20" height="20">
                    <use href="./images/sprite.svg#pen"></use>
                </svg>
            </div>
            
            <ul class="services__group">
                <li class="services__item"><a class="services-link" href="">Recording Artist</a></li>
                <li class="services__item"><a class="services-link" href="">Sound Designer</a></li>
                <li class="services__item"><a class="services-link" href="">Regional Sales Manager</a></li>
            </ul>
        </div>
    </section>
    <section class="services">
        <div class="services__container">
            <div class="services__top">
                <h2 class="services__title">People I need on my team</h2>
                <svg class="services__svg" width="20" height="20">
                    <use href="./images/sprite.svg#pen"></use>
                </svg>
            </div>
            <ul class="services__group">
                <li class="services__item"><a class="services-link" href="">Assistant Engineer</a></li>
                <li class="services__item"><a class="services-link" href="">General Manager</a></li>
                <li class="services__item"><a class="services-link" href="">Content Management</a></li>
            </ul>
        </div>
    </section>
    <section class="people">
        <div class="people__head">
            <p class="people__title">People also viewed</p>
        </div>
        <ul class="people__list">
            <li class="people__item">
                <img class="people__img" src="./images/Bitmap-hero.jpg" alt="photo" width="74" height="74">
                <div class="people__info">
                    <p class="people__name">Ariadna Smith</p>
                    <p class="people__text">Recording artist at KG</p>
                    <p class="people__text">Productions</p>
                </div>
                
                <div class="people__">
                    <img src="./images/+6.png" class="people__" width="40" height="40">

                </div>
            </li>
            <li class="people__item">
                <img class="people__img" src="./images/Bitmap-hero.jpg" alt="photo" width="74" height="74">
                <div class="people__info">
                    <p class="people__name">Ariadna Smith</p>
                    <p class="people__text">Recording artist at KG</p>
                    <p class="people__text">Productions</p>
                </div>
                
                <div class="people__">
                    <img src="./images/+6.png" class="people__" width="40" height="40">
                </div>
            </li>
            <li class="people__item">
                <img class="people__img" src="./images/Bitmap-hero.jpg" alt="photo" width="74" height="74">
                <div class="people__info">
                    <p class="people__name">Ariadna Smith</p>
                    <p class="people__text">Recording artist at KG</p>
                    <p class="people__text">Productions</p>
                </div>

                <div class="people__">
                    <img src="./images/+6.png" class="people__" width="40" height="40">
                </div>
            </li>
            <li class="people__item">
                <img class="people__img" src="./images/Bitmap-hero.jpg" alt="photo" width="74" height="74">
                <div class="people__info">
                    <p class="people__name">Ariadna Smith</p>
                    <p class="people__text">Recording artist at KG</p>
                    <p class="people__text">Productions</p>
                </div>

                <div class="people__">
                    <img src="./images/+6.png" class="people__" width="40" height="40">
                </div>
            </li>
            <li class="people__item">
                <img class="people__img" src="./images/Bitmap-hero.jpg" alt="photo" width="74" height="74">
                <div class="people__info">
                    <p class="people__name">Ariadna Smith</p>
                    <p class="people__text">Recording artist at KG</p>
                    <p class="people__text">Productions</p>
                </div>

                <div class="people__">
                    <img src="./images/+6.png" class="people__" width="40" height="40">
                </div>
            </li>
            <li class="people__item">
                <img class="people__img" src="./images/Bitmap-hero.jpg" alt="photo" width="74" height="74">
                <div class="people__info">
                    <p class="people__name">Ariadna Smith</p>
                    <p class="people__text">Recording artist at KG</p>
                    <p class="people__text">Productions</p>
                </div>

                <div class="people__">
                    <img src="./images/+6.png" class="people__" width="40" height="40">
                </div>
            </li>
        </ul>
    </section>
    <section class="banner">
        <div class="banner__info">
            <p class="banner__title">PR Starlight</p>
            <p class="banner__text">The #1 <br> Most Trusted PR Firm for <br> up-and-coming artist.</p>
            <a class="banner__link" href="">Learn More</a>
        </div>
    </section>
</aside>