<section class="skills">
    <div class="skills__container">
        <h2 class="experience__title">Featured Skills</h2>
        <svg class="experience__svg js-open-modal" data-modal="5" width="20" height="20">
            <use href="./images/sprite.svg#pen"></use>
        </svg>
            <ul class="skills__group">
                <li class="skills__item"><a class="skills-link" href="">Assistant Engineer</a></li>
                <li class="skills__item"><a class="skills-link" href="">Artists Relations and Development</a></li>
                <li class="skills__item"><a class="skills-link" href="">General Manager</a></li>
                <li class="skills__item"><a class="skills-link" href="">Content Management</a></li>
                <li class="skills__item"><a class="skills-link" href="">Producer, Singer and Songwriter</a></li>
                
                <div data-target="four" class="dropdown-menu">
                    <li class="skills__item"><a class="skills-link" href="">General Manager</a></li>
                </div>
            </ul>
            <div class="show-more">
                <button data-path="four" type="button" class="btn dropdown-toggle show-more__text showmore__button">show more</button>
            </div>
           
    </div>
</section>