<section class="welcome">
    <div class=" dropdown">
        <div class="welcome__dropdown">
            <button data-path="three"  type="button" class="dropdown-toggle welcome__button--first btn">Add Profile Section 
                <svg width="17.33" height="12">
                    <use href="./images/sprite.svg#triangle"></use>
                </svg> 
            </button>
            <div data-target="three" class="dropdown-menu">
                <div class="add">
                    <div class="add__info"> 
                        <p  type="button" class="add__title">about                         
                        </p> 
                        <div>
                            <ul  class="add__list">
                                <li class="add__item">Summary
                                    <svg  width="17.33" height="12">
                                        <use class="add__svg" href="./images/sprite.svg#+"></use>
                                    </svg>
                                </li>
                            </ul> 
                        </div>
                    </div>
                    <div class="add__info"> 
                        <p class="add__title">featured
                            <ul class="add__list">
                                <li class="add__item">Posts
                                    <svg  width="17.33" height="12">
                                        <use class="add__svg" href="./images/sprite.svg#+"></use>
                                    </svg>
                                </li>
                                <li class="add__item">Articles
                                    <svg  width="17.33" height="12">
                                        <use class="add__svg" href="./images/sprite.svg#+"></use>
                                    </svg>
                                </li>
                                <li class="add__item">Links
                                    <svg  width="17.33" height="12">
                                        <use class="add__svg" href="./images/sprite.svg#+"></use>
                                    </svg>
                                </li>
                                <li class="add__item">Media
                                    <svg  width="17.33" height="12">
                                        <use class="add__svg" href="./images/sprite.svg#+"></use>
                                    </svg>
                                </li>
                            </ul> 
                        </p> 
                    </div>
                    <div class="add__info"> 
                        <p class="add__title">skills 
                            <ul class="add__list">
                                <li class="add__item">Skills
                                    <svg  width="17.33" height="12">
                                        <use class="add__svg" href="./images/sprite.svg#+"></use>
                                    </svg>
                                </li>
                            </ul> 
                        </p> 
                    </div>
                </div>
                
        </div>

        </div>

        <button data-path="seven" type="button" class="btn dropdown-toggle welcome__button--second">More</button>
        <a href="" class="js-open-modal" data-modal="1">
            <svg  width="20" height="20" class="welcome__button--svg">
                <use href="./images/sprite.svg#pen"></use>
            </svg>
        </a> 
        <div data-target="seven" class="dropdown-menu">
            <ul class="more">
                <li class="more__item">Share profile</li>
                <li class="more__item">Save PDF</li>
            </ul>

        </div>
        <h1 class="welcome__title">Welcome, Alison!</h1>
        <div class="welcome__info">
            <ul class="welcome__list">
                <li class="welcome__item--first">Artist Manager</li> 
                <li class="welcome__item">Florida</li> 
                <li class="welcome__item">240 connections</li>
            </ul>
            <a class="welcome__link js-open-modal" data-modal="2" href="">Contact Info</a>
        </div>
        
        <div class="card">
            <ul class="welcome__card">
                <li class="welcome__card-item"> 
                    <h3 class="welcome__card-title">TeamBuilder &#174;</h3>
                    <p class="welcome__card-text">Tell us the people you need to advance your career and we'll do the rest.</p>
                    <a class="welcome__card-action js-open-modal" data-modal="8" href="">Build your dream team</a>
                    
                </li>
                <li class="welcome__card-item">
                    <h3 class="welcome__card-title">LeadFinder &#174;</h3>
                    <p class="welcome__card-text">Showcase services you offer so you and your business can be found in search.</p>
                    <a class="welcome__card-action js-open-modal" data-modal="9" href="">Get Started</a>

                </li>
            </ul>
        </div>



    </div>
</section>