.education{
    padding: 0 0 101px 260px;
}
.education__container{
    width: 883px;
    height: 74px;

    background: var(--list-color);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
    border-radius: 7px;
}